*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #f1f2f4;
  overflow-x: hidden;
}
ul,li{
  list-style: none;
}

.top-header{
  background-color:#2874f0;
  padding: 5px;
  color: white;
  position: fixed;
  top: 0;
  width:100% ;
  z-index: 1;
}
.serch-bar{
  height: 25%;
  width: 40%;
  background-color: #f0f5ff;
  border: none;
  padding: 4px;
  margin-left: 12px;
  margin-top: 2px;
}
.serch-icon{
  font-size: 22px;
  color: #2874F0;
  margin-top: 4px;
}
.serch-text{
  background-color: #f0f5ff;
  font-size: 14px;
  padding-left: 10px;
}
.first1{
padding:20px 0px 10px 10px;
position:fixed;
width: 100px;
height: 500px;
top: 80px;
}
.first1 h3{
  margin:0px 0px 20px 10px;
}
.first1 ul li{
  line-height: 20px;  
}
.first2{
 position: absolute;
 left: 250px;
 top: 100px;
}
.cat{
  line-height:7px;
}
.first_txt{
  font-size:18px;
  width: 240px;
  height: 555px;
  overflow-y: scroll;
}
.heart{
  color: rgb(214, 212, 212);
  font-size: 15px;
}
.product img{
  height:250px;
  width:350px;
  /* margin:10px 0px; */
  padding:30px;
  border:solid rgb(192,190,190) 1px;
}
.text1{
  padding:0px 10px ;
  line-height: 25px;
  margin-left:20px;
}
.text1 .ful-des{
  color: black !important;
}
.title{
  font-size:20px;
  font-weight:600;
  color: #2874F0;
}
.btn1{
  border: none;
  padding:5px 10px;
  background-color: #2874F0;
  color: white;
}
.btn2{
  border: none;
  font-size:13px;
  border-radius:3px;
  padding:0px 9px;
  background-color: #388E3C;
  color: white;
}
.rating{
  color: rgb(149, 147, 147);
  font-size: 13px;
  font-weight: bold;
}
.logo1 img{
margin:0px 49px;
 height:25px;
  width:90px;
}
.description{
  width: 120%;
}
.single-pro{
  position: absolute;
  top: 100px;
  
}